*.log
*.pid
*.img
*.pub
*.id_rsa
*.d
*.o
*.so
.arch
.kernel_version
.bash_history
.viminfo
.vim
.config
.ssh
.debootstrap
*.cmd
*.mod
*.mod.c
*.order
*.ko
.drgn*
.tmp*
.cache
.cargo
.local
.sudo_as_admin_successful
.user_packages
.lesshst
.prepare
binaries
log.txt
tar
build
libbpf-bootstrap
retsnoop
crash
chroot
cores
*.core
/kernel/
.Module.symvers.cmd
.modules.order.cmd
Module.symvers
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
